/WordCount/build/
/NormalizeText/nbproject/private/
.doc
/Calculator/nbproject/private/
/MatrixCalculator/nbproject/private/
/MatrixCalculator/build/
/Calculator/build/
/BaseNumber/nbproject/private/
/BaseNumber/build/
*.properties
/Candidate/nbproject/private/
/FormatCSV/nbproject/private/
/FruitShop/nbproject/private/
/FruitShop/build/