/WordCount/build/
/NormalizeText/nbproject/private/
.doc
/Calculator/nbproject/private/
/MatrixCalculator/nbproject/private/
/MatrixCalculator/build/
/Calculator/build/
/BaseNumber/nbproject/private/
/BaseNumber/build/

/Normalize/nbproject/private/
/Normalize/build/
